<link rel="stylesheet" href="auth-employee.component.css">
<form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <label>Login</label>
        <input
          type="text"
          id="text"
          ngModel
          name="login"
          required email>
        <label>Heslo</label>
        <input
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6">
        <hr>

        <button type="submit">PŘIHLÁSIT SE</button>

      </div>
    </div>
  </div>
</form>
