<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">CoopBank</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" >Prihlaseni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#">Kalkulacka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#">Moje zadost</a>
        </li>
      </ul>
  </div>
  </div>
</nav>
