<router-outlet></router-outlet>


<div class="top-container">

  <button type="submit" (click)="displayRequests()">Zobraz žádosti</button>
  <button type="submit" (click)="sortBySurname()">Seřadit dle příjmení</button>
  <button type="submit" (click)="sortByAmount()">Seřadit dle výše půjčky</button>
</div>

<div class="overview" *ngFor="let item of data, let i = index">
  <a [routerLink]="[item.id]" routerLinkActive="active"
     class="list-group-item clearfix" *ngIf="!!data">
    {{item.name}} {{item.surname}}
    <p>{{item.id}}</p>
    <p>{{numberWithSpaces(item.amount)}} Kč</p>
    <p>{{item.created | date: 'dd.M.YYYY'}}</p>

    <p>{{formatStatus(item.status)}}</p>

  </a>
</div>






