h1 {
  color: #00843d;
  margin-left: 20px;
}

.overview {
  background-color: white;
  color: #00843d;
  width: 25%;
  margin-top: 50px;
  margin-left: 20px;
  border: 1px solid #00843d;
  padding-left: 20px;
  float: left;

}

a {
  text-decoration: none;
  color: #00843d;
}

.client-detail {
  width: 60%;
  float: left;
  margin-top: 50px;
  margin-left: 50px;

}


