<div class="container">

  <strong>Klient</strong>
  <p>{{client.name}} {{client.surname}}</p>
 <p>Typ klienta: {{client.applicantType}}</p>
  <p>{{client.companyName}}</p>
<hr>
  <p><strong>Detail půjčky</strong></p>
  <p>Výše půjčky: {{client.amount | currency : 'CZK '}}</p>

  <p>Doba splácení: {{client.numOfMonths }} měsíců</p>
  <p>Datum žádosti: {{client.created | date : 'shortDate' }}</p>
  <p>Status žádosti: <strong>{{client.status }}</strong></p>

  <button type="submit" class="button-detail">Schválit</button>
  <button type="submit" class="button-detail">Zamítnout</button>
</div>


