<form>
  <div class="form-calculation">
    <h2>Úvěrová kalkulačka</h2>

  
    <div class="inputs">
      <div class="changeOfAmountInput">
        <input
          #amount
          type="number"
          id="amount"
          placeholder="Výše úvěru"
          min="5000"
          max="1200000"
          name="amount"
          step="1000"
          (change)="changeOfAmount($event)"
          [(ngModel)] = "amountOfMoney"
        />
        <span>Kč</span>
      </div>

      <div class="changeOfNumOfMonthsInput">
        <input
        lang="cs"
          #numOfMonths
          type="number"
          id="time"
          placeholder="Doba splácení"
          min="6"
          max="60"
          (change)="changeOfNumOfMonths($event)"
        
        />
        <span>měsíců</span>

      </div>

    </div>

    <div class="flex" *ngIf="!calculationInputs.amount || !calculationInputs.numOfMonths">
      <p>
        Pro výpočet zadejte oba údaje. Děkujeme.
      </p>
    </div>

    <div class="flex rangeInput">
      <input 
      #amountRange
      type="range" 
      id="amountRange" 
      name="amountRange" 
      min="5000" 
      max="1200000" 
      value="50000" 
      step="1000"
      (change)="changeAmountRange($event)"
      >
    </div>

    <div class="formDisplay" *ngIf="btnActive">
      <h2>Naše výhodná půjčka na vás čeká!</h2>
      <p>
        Výše úvěru: <span class="bold"> {{ amountInput | currency:'':'' }} Kč </span>
      </p>
      <p>
        Doba splácení:
        <span class="bold"> {{ numOfMOnthsInput }} měsíců </span>
      </p>
      <hr />
      <p>
        Měsíční splátka:
        <span class="bold"> {{ this.requestCalc.monthlyPayment | currency:'':'' }} Kč </span>
      </p>
      <p>Celková částka: {{ this.requestCalc.overallAmount | currency:'':'' }} Kč</p>
      <p>Roční úroková sazba: {{ this.requestCalc.yearlyInterest | number:'.1' }} %</p>
      <p>RPSN: {{ this.requestCalc.RPSN | number:'.1'}} %</p>
      <p>
        {{
          this.requestCalc.fixedFee
            ? "Fixní poplatek: " + this.requestCalc.fixedFee + " Kč"
            : "Bez fixního poplatku!"
        }}
      </p>
  </div>

    <div class="flex">
      <button
        [ngClass]="{ hover: btnActive }"
        [disabled]="!btnActive"
        type="submit"
        class="btn"
        (click)="calculate(amount.value, numOfMonths.value)"
      >
        Mám zájem
      </button>
    </div>
  </div>
</form>

