<form>
  <div class="form-calculation">
    <h2>Úvěrová kalkulačka</h2>

    <div class="inputs">
      <div class="changeOfAmountInput">
        <input
          #amount
          type="number"
          id="amount"
          placeholder="Výše úvěru"
          min="5000"
          max="1200000"
          name="amount"
          step="1000"
          (change)="changeOfAmount($event)"
        />
        <span>Kč</span>
      </div>

      <div class="changeOfNumOfMonthsInput">
        <input
          #numOfMonths
          type="number"
          id="time"
          placeholder="Doba splácení"
          min="6"
          max="60"
          (change)="changeOfNumOfMonths($event)"
        />
        <span>měsíců</span>
      </div>
    </div>
    <div class="formDisplay" *ngIf="btnActive">
      <h2>Naše výhodná půjčka na vás čeká!</h2>
      <p>
        Výše úvěru: <span class="bold"> {{ amountInput }} Kč </span>
      </p>
      <p>
        Doba splácení:
        <span class="bold"> {{ numOfMOnthsInput }} měsíců </span>
      </p>
      <hr />
      <p>
        Měsíční splátka:
        <span class="bold"> {{ this.requestCalc.monthlyPayment }} Kč </span>
      </p>
      <p>Celková částka: {{ this.requestCalc.overallAmount }} Kč</p>
      <p>Roční úroková sazba: {{ this.requestCalc.yearlyInterest }} %</p>
      <p>RPSN: {{ this.requestCalc.RPSN }}%</p>
      <p>
        {{
          this.requestCalc.fixedFee
            ? "Fixní poplatek činí: " + this.requestCalc.fixedFee + "Kč"
            : "Bez fixního poplatku!"
        }}
      </p>
    </div>

    <div class="flex">
      <button
        [ngClass]="{ hover: btnActive }"
        [disabled]="!btnActive"
        type="submit"
        class="btn"
        (click)="calculate(amount.value, numOfMonths.value)"
      >
        Mám zájem
      </button>
    </div>
  </div>
</form>
