/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 auto; 
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: rgba(230, 227, 227, 0.534)
  }