.container {
  width: 30%;
  padding: 10px;
  text-align: left;
  background-color: #00843d;
  color: white;
  font-family: Koop, Arial, serif;
}

.container hr {
  color: red;
}

button {
  background: white;
  color: #00843d;
  font-family: Koop, Arial, serif;
  border: none;
  align-items: center;
  line-height: 1.45em;
  cursor: pointer;
  position: relative;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
}
